# Make vim the default editor
export EDITOR="nvim"

# Prefer Japanese and use UTF-8
export LANG="ja_JP.UTF-8"
export LC_ALL="$LANG"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

export DISABLE_AUTO_TITLE=true
